<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>boxes</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    
</head>
<body>
    <!--  outer container -->
    <div class = "container">
        <h1>Welcome</h1>
        <div class= "box_container">
            <!-- forloop to loop through boxes -->
            {%for i in range(num)%}
            <div class="box" style = "background-color: {{color}}"></div>
            {%endfor%}
        </div>
    </div>
</body>
</html>   